
.cproject

.project

*.xml

*.prefs

.vs/simulator_sample_vc14/v14/.suo

detection/fasterrcnn/

detection/rfcn/

detection/ssd/

mapper_param/

mapper_quant/

mapper_quant_one_imgs/

mark_prototxt/

sample_func_vc14/x64/

sample_func_vc14/

sample_func_vc14_OpenCV/

sample_inst_vc14/

sample_inst_vc14_OpenCV/

sim_out/

temp/

x64/

*.dot

*.log

*.data

RUNTIME.txt

*.cfg

*.wk

*.sln

*.db

*.opendb

*.htm
